.navBar {
		float: center;
		background-color: #bde4ed;
}

div {
	text-align: center;
}

.label {
	text-align: center;
	font-size: 150%;
}

.recipeList{
	text-align: center;
}

.backButton{
	float: left;
}

.foodPicture{
	text-align: center;
}

.navButton{
		float: center;
}

.recipeSummary{
	text-align: center;
}
